.main_wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  background: orange;
}

.header {
  display: flex;
  justify-content: space-between;
  background: blue;
}

.content {
  display: grid;
  background: red;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
